.container {
    display: flex;
}
.box {
    /* width: 50%; */
    padding: 20px;
    /* background-color: lightblue; */
    text-align: left;
    /* border: 1px solid black; */
}
.selection {
    font-weight: bold;
    display: block;
}
/* .highlight {
    filter: brightness(0.7) sepia(1) hue-rotate(40deg);
    outline: 3px solid yellow;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.8);
} */
/* BUTTON STYLES */
#clear {
    width: 50px;
    height: auto;
}
#erase {
    width: 60px;
    height: auto;
}
.color-button.active {
    /* background-color: rgb(100, 100, 100); */
    color: lightslategray;
}
.shape-button.active {
    color: lightslategray;
}
#segmentSlide:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
#white{
    background-color: rgb(255, 255, 255);
}
#green {
    background-color: rgb(0, 255, 0);
}
#red {
    background-color: rgb(255, 0, 0);
}
#blue {
    background-color: rgb(0, 0, 255);
}
#yellow {
    background-color: rgb(255, 217, 3);
}
#pointButton {
    background-color: rgb(255, 255, 255);
}
#triangleButton {
    background-color: rgb(255, 255, 255);
}
#circleButton {
    background-color: rgb(255, 255, 255);
}