.container {
    display: flex;
}

.box {
    /* width: 50%; */
    padding: 20px;
    /* background-color: lightblue; */
    text-align: left;
    /* border: 1px solid black; */
}

/* BUTTON STYLES */
#clear {
    width: 50px;
    height: auto;
}
#erase {
    width: 60px;
    height: auto;
}
#white{
    background-color: rgb(255, 255, 255);
}
#green {
    background-color: rgb(0, 255, 0);
}
#red {
    background-color: rgb(255, 0, 0);
}
#blue {
    background-color: rgb(0, 0, 255);
}
#yellow {
    background-color: rgb(255, 217, 3);
}